In [42]:
# TODO 
# Task 1
# provide a query that shows total sales by each sales agent
# will require to join with the customer table
# will require to join with the invoice table

# Task 2
# QUERY TO find the top selling track of 2012
# will require use track table
# will requiret to join with invoice items table
# will require to join with the invoice table

In [43]:
import sqlite3
import pandas as pd

In [44]:
class SqliteCRUD:
    
    # constructor
    # called when we create an object of this class
    def __init__(self, dbpath):
        self.dbpath = dbpath
        self.conn = sqlite3.connect(dbpath)
        self.cursor = self.conn.cursor()
        # print status  
        print(f"Connected to database: {dbpath} Ready to perform CRUD operations!")
    
    # destructor - will be called when object is deleted - typically when program ends
    def __del__(self):
        print("Closing connection")
        self.conn.close()

    def total_sales(self):
        query = """
        SELECT EmployeeId,
	        e.LastName AS employees,
	        SUM(total) AS Total_sales	
            FROM employees e
            JOIN invoices i  ON e.EmployeeId  = i.CustomerId 
            JOIN customers c  ON e.EmployeeId = c.SupportRepId
            GROUP  BY EmployeeId;
        """
        return pd.read_sql_query(query, self.conn)
TODO 
    def top_songs_2012(self):
        query = """
  
        """
        return pd.read_sql_query(query, self.conn)

In [45]:
db = SqliteCRUD("chinook.db")
db.dbpath

Connected to database: chinook.db Ready to perform CRUD operations!

'chinook.db'

In [46]:
total_sales_df = db.total_sales()
total_sales_df.head()

                Name          InvoiceDate  top_songs_2012
0    Interlude Zumbi  2012-12-07 00:00:00              14
1            Amazing  2012-11-06 00:00:00              14
2        Salutations  2012-10-06 00:00:00              14
3          Unchained  2012-09-05 00:00:00              14
4  Crossroads, Pt. 1  2012-08-05 00:00:00              14