In [ ]:
# TODO: the following 5 functions for CRUD(create, read,update,delete) operations that work with sqlite database called chinook.db
# def create_connection(dbpath):
#   # can add verbose parameter that prints sqlite version used
#   return conn
# def create_artist(conn, artist_name):
   # use parametrized query !
#   # do not have to return anything but can use try: inside this function
# def read_artists(conn):  # can add some extra parameters to limit
#   return artists  # can return a list of tuples, or you can create a list of artist objects if you want
# def update_artist(id, new_name):
# def delete_artist(id=None, name=""):
#    # provide deletion by id AND/OR name
# test it by adding you name to artists table smile

In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('chinook.db')
print(con)

<sqlite3.Connection object at 0x0000024E1B248E40>

In [3]:
df = pd.read_sql_query("select * from tracks", con)
df.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

DatabaseError: Execution failed on sql 'select * from v_rock_songs': no such table: v_rock_songs