In [2]:
# TODO in class
# install BeautifulSoup if you do not have it already
# pip install beautifulsoup4 
# note the 4 at the end
# find two URLs that you want to scrape on SS.com
# scrape the data from the first page
# scrape the data from the second page
# you can use the functions I provided in the class

# save both as csv files
# and make plot of the data - up to you what you want to plot

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time

In [4]:
url = "https://www.ss.com/en/animals/cats/"

In [33]:
req = requests.get(url)
req.status_code

200

In [9]:
soup = BeautifulSoup(req.text, 'lxml')
soup.title

In [10]:
tables = soup.find_all("table")
headline = soup.find("tr", {"id":"head_line"})
headtds = headline.find_all("td")
headline.text
headtds[0].text

'\n\xa0Advertisements\r\n\n\n\ndate\n'

In [12]:
headcolumns = [el.text for el in headtds[1:]]
headcolumns

['Breed', 'Age', 'Price']

In [15]:
def getColList(soup):
    column_list = ["description","url"] # we decided to that we need these two column names no matter the html
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]] # this will get all column names starting with 2nd in HTML
    column_list += headcolumns
    return column_list

In [18]:
column_names = getColList(soup)
column_names

['description', 'url', 'Breed', 'Age', 'Price']

In [19]:
trows = soup.find_all('tr')

In [20]:
rows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]

In [21]:
def getRowList(soup):
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [22]:
rows = getRowList(soup)

In [23]:
first_ad = rows[0]

In [35]:
row_tds = first_ad.find_all('td')
row_tds[:2]

[<td class="msga2 pp0"><input id="c51617380" name="mid[]" type="checkbox" value="51617380_75037_0"/></td>,
 <td class="msga2"><a href="/msg/en/animals/cats/scottish-fold/bpdexo.html" id="im51617380"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/975/243596/48719066.th2.jpg"/></a></td>]

In [26]:
def getRow(row,colist=column_names):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) < 3: # a little sanity check
        print("Hmm bad row")
        return rowDict
    
    rowDict[colist[0]] = row_tds[2].text # so the big assumption is that we always get description in 3rd column
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    for td,key in zip(row_tds[3:],colist[2:]): 
        rowDict[key] = td.text
    return rowDict

In [27]:
getRow(rows[6])

{'description': 'Šis strīpainis skaistulis ir nopietns kaķu kungs. \r\nBet neskatoties uz visu nopietnību, Jelgava and reg.',
 'url': 'https://ss.com/msg/en/animals/cats/outbred/jhmck.html',
 'Breed': 'Outbred',
 'Age': '5 years',
 'Price': '70  €'}

In [28]:
def getRows(rowlist,colist=column_names):
    return [getRow(row, colist=colist) for row in rowlist]

In [29]:
def getDFfromURL(url):
    
    req = requests.get(url)
    if req.status_code != 200:
        print("Request Fail with", req.status_code)
        return None 
    soup = BeautifulSoup(req.text, 'lxml')
    column_names = getColList(soup)
    rowlist = getRowList(soup)
    rows = getRows(rowlist,colist=column_names)
    return pd.DataFrame(rows, columns=column_names)

In [30]:
cats = url
idf = getDFfromURL(cats)
idf.head()

,description,url,Breed,Age,Price
0,"Отдаю за пожертвование идеального котика, кото...",https://ss.com/msg/en/animals/cats/unknown-bre...,Unknown breed,5 years,-
1,Pārdodu divus kaķu trauciņusRiga,https://ss.com/msg/en/animals/cats/accessories...,-,-,20 €
2,Отдам котят в хорошие руки.Daugavpils and reg.,https://ss.com/msg/en/animals/cats/outbred/cxp...,Outbred,1 mon.,-
3,Piedāvājam tīršķirnes Skotu fold meitenīti ar ...,https://ss.com/msg/en/animals/cats/scottish-fo...,Scottish fold,2 mon.,500 €
4,Balti-melna kaķenīte ir mīļuma iemiesojums. \r...,https://ss.com/msg/en/animals/cats/outbred/jgh...,Outbred,2 years,70 €

In [31]:
idf.to_csv("cats.csv")

In [32]:
cats = pd.read_csv(r"C:\Users\dovil\Desktop\she goes tech\SGT\cats.csv")
cats

,Unnamed: 0,description,url,Breed,Age,Price
0,0,"Отдаю за пожертвование идеального котика, кото...",https://ss.com/msg/en/animals/cats/unknown-bre...,Unknown breed,5 years,-
1,1,Pārdodu divus kaķu trauciņusRiga,https://ss.com/msg/en/animals/cats/accessories...,-,-,20 €
2,2,Отдам котят в хорошие руки.Daugavpils and reg.,https://ss.com/msg/en/animals/cats/outbred/cxp...,Outbred,1 mon.,-
3,3,Piedāvājam tīršķirnes Skotu fold meitenīti ar ...,https://ss.com/msg/en/animals/cats/scottish-fo...,Scottish fold,2 mon.,500 €
4,4,Balti-melna kaķenīte ir mīļuma iemiesojums. \r...,https://ss.com/msg/en/animals/cats/outbred/jgh...,Outbred,2 years,70 €
5,5,Вот такой красавчик рыжий с розовым носиком до...,https://ss.com/msg/en/animals/cats/outbred/odn...,Outbred,1 years,70 €
6,6,"”Es tik ļoti ilgojos pēc cilvēka mīlestības, t...",https://ss.com/msg/en/animals/cats/outbred/jbb...,Outbred,5 years,70 €
7,7,Rudulis ir īsts skaistulis un mīļuma iemiesoju...,https://ss.com/msg/en/animals/cats/outbred/kxn...,Outbred,4 years,70 €
8,8,Kuplā kažociņa īpašniece meklē savas mājas. \r...,https://ss.com/msg/en/animals/cats/outbred/hff...,Outbred,1.5 years,70 €
9,9,Šis strīpainis skaistulis ir nopietns kaķu kun...,https://ss.com/msg/en/animals/cats/outbred/jhm...,Outbred,5 years,70 €
10,10,"Saņēmuši visas vajadzīgās potes, mums ir Wcf c...",https://ss.com/msg/en/animals/cats/british-lon...,British longhair,4 mon.,300 €
11,11,Wcf reģistrēta kaķu audzētava piedāva ļoti mīļ...,https://ss.com/msg/en/animals/cats/maine-coon/...,Maine coon,4 mon.,900 €
12,12,"Британец это аристократизм, интелект. Зипо-оче...",https://ss.com/msg/en/animals/cats/british-sho...,British shorthair,12 mon.,500 €
13,13,Малыш Лис ищет дом. Малыш невероятно ласковый....,https://ss.com/msg/en/animals/cats/outbred/jpc...,Outbred,5 mon.,20 €
14,14,"Вот такая, неземная, красота, по имени Сима, и...",https://ss.com/msg/en/animals/cats/outbred/ale...,Outbred,12 mon.,100 €
15,15,"Британец-это сильный, крепкий, добрый и умный ...",https://ss.com/msg/en/animals/cats/british-sho...,British shorthair,9 mon.,700 €
16,16,"Здоровенькая, шустренькая розовая девочка, гот...",https://ss.com/msg/en/animals/cats/don-sphynx/...,Don sphynx,2.5 mon.,380 €
17,17,Две милые девочки - прекрасные представительни...,https://ss.com/msg/en/animals/cats/british-sho...,British shorthair,3 mon.,220 €
18,18,"Runčuks vārdā “Mazais” - viens no astainīšiem,...",https://ss.com/msg/en/animals/cats/outbred/bbd...,Outbred,4 years,70 €
19,19,"Остались 2 которебёнка , мальчик и девочка. Ко...",https://ss.com/msg/en/animals/cats/outbred/eel...,Outbred,2 mon.,20 €
20,20,Великолепная красавица Мия ищет дом. Девочка з...,https://ss.com/msg/en/animals/cats/neva-masque...,Neva masquerade,18 mon.,50 €
21,21,"Девочка очень красивая, нежная, ласковая, выра...",https://ss.com/msg/en/animals/cats/british-lon...,British longhair,3 mon.,220 €
22,22,Fantastiski skaistas māsiņas gaida savu saimni...,https://ss.com/msg/en/animals/cats/british-lon...,British longhair,6 mon.,200 €
23,23,Britu kaķu audzētava piedāvā ļoti mīlīgu kaķēn...,https://ss.com/msg/en/animals/cats/british-lon...,British longhair,4 mon.,400 €
24,24,Sertificēta Wcf audzētava rezervācijai piedāvā...,https://ss.com/msg/en/animals/cats/scottish-fo...,Scottish fold,1.5 mon.,500 €
25,25,"Mazais rudais puisītis ir jaunu, mīlošu un atb...",https://ss.com/msg/en/animals/cats/outbred/ion...,Outbred,3 mon.,30 €
26,26,Готовы к переезду в вашу семью котята ориентал...,https://ss.com/msg/en/animals/cats/oriental/bc...,Oriental,2 mon.,400 €
27,27,Meklēju jaunas mājas 6 gadus vecai kaķenei. Pē...,https://ss.com/msg/en/animals/cats/british-sho...,British shorthair,6 years,-
28,28,"Skaisti kaķēni, spilgti bengaļu šķirnes pārstā...",https://ss.com/msg/en/animals/cats/bengal/cbdh...,Bengal,2 mon.,600 €
29,29,"Mīļi, draudzīgi un veselīgi kaķēni varētu būt ...",https://ss.com/msg/en/animals/cats/outbred/jcx...,Outbred,2 mon.,1 €