In [2]:
import requests
import json
import pandas as pd

In [3]:
url = "https://jsonplaceholder.typicode.com/todos"
response = requests.get(url)  # so we made a HTTP GET request here just like a browser would
print(response.status_code)

200

In [4]:
data_from_json = response.json()  # we do not need json.loads
type(data_from_json), len(data_from_json)

(list, 200)

In [5]:
response.text[:150]

'[\n  {\n    "userId": 1,\n    "id": 1,\n    "title": "delectus aut autem",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 2,\n    "title": "qui'

In [6]:
df = pd.read_json(url)  # so includes parsing and request to the server
df.head()

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False

In [7]:
df.to_csv("random_data.csv")